.end {
    margin-top: 37px;
    margin-left: 12px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    color: rgba(47, 47, 47, 0.5);
}