.paragraph {

    font-family: Inter;
    font-style: italic;
    color: black;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 12px;
}

.paragraph2 {
    font-family: Inter;
    font-style: italic;
    color: black;
    font-size: 12px;
    line-height: 20px;

}