
h1 {
    position: absolute;
    width: 106px;
    height: 27px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;
}

h2 {
    position: absolute;
    width: 90px;
    height: 22px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

h3 {   
    position: absolute;
    width: 80px;
    height: 19px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

h4 {
    position: absolute;
    width: 70px;
    height: 17px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}