button {
    position: relative;
    width: 351px;
    height: 51px;

    background: #4285F4;
    border-radius: 4px;
    border-color: transparent;

    /* Fonte */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-content: center;

    color: #FFFFFF;
}

button:hover {
    background: #326AC6;
}